#playButton {
    background-color: lightskyblue;
}

button {
    font-weight: bold;
}

.up_button {
    background-color: lightgreen;
}

.down_button {
    background-color: orange;
    margin-bottom: 12px;
}
.floor {
    height: 50px;
    width: 100%;
    background-color: white;
    display: flex;
    margin: 8px;
    gap: 0.8rem;
    align-items: center;
}

.lift {
    background-color: grey;
    height: 50px;
    width: 60px;
    max-height: 50px;
    border-radius: 5px;
    display: flex;
    overflow: hidden;
}

.lift-door {
    width: 30px;
    background-color: #0CAFFF;
    border: 1px solid darkblue;
}
